body {
  background-color: #eee;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.projectBody{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}